@media (max-width: 1200px)
  .container
    max-width: 1140px
  
@media (max-width: 992px)
  .container
    max-width: 780px
@media (max-width: 768px)
  .container
    max-width: 650px
  .navbar
    &-menu
      display: none
  .menu
    &-button
      width: 16px
      height: 11px
      padding: 0
      border: none
      display: flex
      align-items: center
      justify-content: space-between
      flex-direction: column
      cursor: pointer
      outline: none
      &__line
        width: 16px
        height: 1px
        background-color: #3A4C66
  .section
    max-width: 728px
    height: 624px
    padding: 42px 293px 36px 28px
    &__title
      font-size: 48px
      line-height: 60px
@media (max-width: 576px)
  .container
    max-width: 450px
@media (max-width: 320px)
  .container
    max-width: 290px
