.navbar
  display: flex
  justify-content: space-between
  align-items: center
  padding: 26px 0
  margin-bottom: 36px
  &-menu
    display: flex
    justify-content: space-between
    align-items: center
    margin: 0
    padding: 0
    &__item
      margin-left: 20px
      margin-right: 20px
      list-style: none
      &:last-child
        margin-right: 0
    &__link
      text-decoration: none
      font-style: normal
      font-weight: 600
      font-size: 16px
      line-height: 22px
      color: $color
    &__button
      padding: 13px 24px
      font-style: normal
      font-weight: bold
      font-size: 16px
      line-height: 22px
      color: $light-blue
      border-radius: 8px
      height: 48px
      background-color: transparent
      border: 2px solid $light-blue
      cursor: pointer 
.menu
  &-button
    display: none
.head
  max-width: 1280px
  height: 700px
  margin: auto
  background-color: #f9f9f9
  border-radius: 8px
  &-container
    max-width: 1280px
  &__content
    width: 55%
    padding-left: 107px
  &__tag
    display: inline-block
    font-style: normal
    font-weight: 600
    font-size: 14px
    line-height: 20px
    color: $green
    background-color: rgba($green, 0.1)
    border-radius: 2000px
    padding: 6px 18px
    margin-top: 60px
    margin-bottom: 27px
  &__title
    font-family: "HK Grotesk", sans-serif
    font-style: normal
    font-weight: bold
    font-size: 56px
    line-height: 68px
    width: 474px
    letter-spacing: 0.2px
    color: $color
    margin-bottom: 30px
  &__text
    font-style: normal
    font-weight: normal
    font-size: 20px
    line-height: 36px
    color: $color
    margin-bottom: 52px
  &__button
    background-color: $color
    border: none
    padding: 15px 38px
    border-radius: 8px
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 25px
    text-align: center
    color: $white
    margin-bottom: 47px
    letter-spacing: 1px
  &__other
    width: 435px
    display: flex
    justify-content: space-between
    align-items: center
    &-item
      display: flex
      align-items: center
      justify-content: center
      font-family: "HK Grotesk", sans-serif
      color: $color
      font-style: normal
      font-weight: 600
      font-size: 16px
      line-height: 20px
      letter-spacing: 0.2px
      span
        margin-left: 8px
        margin-right: 6px

      
